.hero-container{
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: #F3FCF8;
}
.hero-section {
    font-family: "brcandor-light", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width: 1083px;
    padding:20px;
    width: 100%;
  }
  
  .hero-content {
    max-width: 503px;
    width: 100%;
    margin: 0 auto;
    padding: auto;
    margin-bottom: 10%;
  }
  .hero-content h1 {
    font-size:64px ;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 10px;
    text-align: start;
  }
  .hero-content p {
    font-size:18px ;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
    margin-bottom: 10px;
  }
  .highlight {
    color: #11C170 ;
  }
  
  .hero-buttons {
    margin-top: 20px;
    display: flex;
    text-align: start;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    gap: 10px;
    margin-right: 10px;
  }
  
  .btn-open {
    background-color: #11C170;
    color: #F3FCF8;
  }
  
  .btn-request {
    background-color: #fff;
    color: #00a859;
    border: 1px solid #00a859;
  }
  .hero-image{
    max-width: 580px;
  }
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width:1024px) {
    .hero-section{
        margin-top: 30px;
        padding: 20px;
    }
  }
  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content {
      max-width: 100%;
      margin-top: 14%;
    }
   
    .hero-buttons, .btn-open{
      margin-bottom: 10px;
    }
  }
  @media (max-width:678px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }
    .hero-content {
      max-width: 100%;
      margin-top: 14%;
      padding: 20px;
    }
    .hero-content h1{
      padding: 10px;
      font-size: 32.84px;
      line-height: 35px;
    }
    .hero-content p{
      padding: 10px;
      font-size: 16px;
      line-height: 23.36px;
    }
    .hero-buttons, .btn-open{
      margin-bottom: 10px;
      flex-direction: column;
    }

  }
  